@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --headerclr:#222533;
    --mainclr:#ffcb0f;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;
    min-height: 100vh;
   
}
*{
    box-sizing: border-box;
}
.alpha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    font-size: 60px;
    color: black;
}
.heading span{
    font-style: italic;
    font-size: 30px;
}
p, small{
    color:black;
}
p{
    font-size: 0.9em;
    line-height: 23px;
}
h1{ 
    padding-top: 100px;
    font-weight: bold;
    color: black;
    margin: 0px;
}

.header{
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--headerclr);
    z-index: 10000;
}
.header img{
    border-radius: 100px;
    width: 70px;
}
#logo{
    color: var(--mainclr);
    font-size: 30px;
}
.nav a{
    color: white;
    font-size: 80%;
    margin-left: 1rem;
}
.nav a:hover{
    color: var(--mainclr);
}
.icon-header div{
    color: white;
    margin-left: 1.5rem;
    font-size: 80%;
    cursor: pointer;
}
.icon-header div:hover{
    color: var(--mainclr);
}
#menu-bar{
    display: none;
}
.nav.active{
    top: 100%;
}
.search-form{
    width: 50%;
    position: absolute;
    top: -110%;
    right: 2rem;
    transition: .2s;
}
.search-form input{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--headerclr);
}
.search-form.active{
    top: 110%;
}






.skewed{
    width: 60em;
    color: #f1f1f1;
    display: flex;
    background: white;
    margin: 2em 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.text{
    padding: 1.5em;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-direction: column;
}
a{
    color: grey;
    text-decoration: none;
}
.image{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.image::before{
    content: '';
    position: absolute;
    left: -6.1em;
    top: 50%;
    transform:
        translateY(-50%) rotate(20deg);
    background: white;
    width: 40%;
    height: 200%
}
.skewed-left .image::before{
    transform:
    translateY(-50%) rotate(-20deg);
    left: initial;
    right: -6.1em;
}
img{
    width: 140%;
}

@media screen and (max-width: 750px){
    .skewed{
        display: block;
        width: 20em
    }
    .image, .text{
        width: 100%;
    }
    img{
        width: 160%;
    }
    .skewed .image::before{
        width: 120%;
        height: 40%;
        top: -5em;
        left: 50%;
        transform: translateX(-50%) rotate(10deg);
    }
    .skewed-left .image::before{
        transform: translateX(-50%) rotate(-10deg);
        top: initial;
        bottom: -5em;
    }
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



/* whatsapp logo */
.whatsapp-logo {
    position: fixed;
    right: 10px;
    transform: translate(0, -50%);
    top: 50%;
    padding: 10px;
    border-radius: 50%;
  }
  
  .whatsapp-logo img {
    width: 80px;
    height: 80px;
    display: block;
  }
